<li>
  <span class="created_at"><%= message.created_at.strftime("%H:%M") %></span>
  <span class="author" style="display:block;width:100%;font-size:11px;"><%= message.author %></span>
  <%= message.content %>
</li>
