.chat {
  width: 100%;
  background: whitesmoke;
}

ul.chat {
  list-style: none;
  padding: 0;
  width: 100%;
  height: 250px;
  border: solid 1px #777;
  margin: 5px 0;
  overflow: auto;
}

ul.chat li {
  margin: 2px 5px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
  text-align: left;
}

ul.chat li .created_at {
  float: right;
  color: #777;
  font-size: 11px;
  padding-left: 4px;
  padding-top: 2px;
}

input#message_content {
  //width: 90%;
}

#share {
  min-width:100px;
  max-width:100%;
}
