<nav>
  <div class="right">
  </div>

  <div id="logo">
    <a href="/"><img alt="Logo" src="images/logo.png"></a>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <ul id="nav" >
    <li><a href="http://www.iamsupview.be">The Author</a></li>
    <li><a href="http://www.baribal.be/showpage/dl/">Get it</a></li>
  </ul>
</nav>
