<section class="page2">
  <div class="row">
    <div class="six columns article make-it-appear-right">
      <h3><%= t('static_pages.start.section_1_header') %></h3>
      <p><b><%= t('static_pages.start.section_1_content') %></b></p>
      <div class="space"></div>
      <a  class="js-open-modal button-blue">blue button with Modal video</a>
    </div>

    <div class="five columns picture make-it-appear-left" >
      <img src="images/1.png" alt="EXEMPLE">
    </div>
  </div>
</section>

<section class="page3" >
  <div class="row">
    <div class="five columns picture make-it-appear-right" >
      <img src="images/2.png" alt="EXEMPLE">
    </div>

    <div class="six columns article make-it-appear-left">
      <h3>Pretty easy to use</h3>
      <p>Bacon ipsum dolor sit amet meatball shank pork chop capicola fatback pork loin sirloin flank. <b>Andouille</b> tongue corned beef rump pork loin shank meatball capicola turducken venison shankle kevin pancetta tri-tip boudin.</p>
      <div class="space"></div>
      <a class="js-open-modal button-green">Another Button</a>
    </div>
  </div>
</section>

<div class='modal' id='modal'>
  <div class='modal-content modal-anim--three'>
    <iframe src="//player.vimeo.com/video/64291127?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="560" height="306" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div>
</div>

<section class="page4">
  <div class="row">
    <div class="four columns article make-it-appear-right">
      <h3>Pretty Simple and Detailed Code.</h3>
      <p>Here is the simple exemple of the next section, as you can see, everything is pretty well detailed and easy to understand.</p>
      <div class="space"></div>
    </div>

    <div class="seven columns picture make-it-appear-left" >
      <pre>
        <div class="twelve columns centered make-it-appear-top">
          <h4>Finally! Simple and fair pricing.</h4>
          <div class="cost">
            <p class="symbol">$</p>
            <p class="value">0</p>
          </div>
        </div>
      </pre>
    </div>
  </div>
</section>

<section class="page5">
  <div class="row">
    <div class="twelve columns centered make-it-appear-top">
      <h4>Finally! Completely FREE.</h4>
      <h1>€0</h1>
    </div>
  </div>
</section>
